{% extends 'base.html' %}

{% block title %}ASVZ Bot{% endblock %}

{% block content %}
    <h1 class="text-center">Enroll into course</h1>
    <input class="form-control" id="courseInput" autofocus="autofocus" placeholder="Enter course ID/Link">
    <div id="course" class="container course-info" style="display: none;">
        <h1 class="text-center"><span id="courseTitle"></span><span id="statusBadge" class="badge text-bg-success" style="display: none;"></span></h1>
        <div class="row">
            <div class="col-md-6">
                <p><span class="info-label">Time:</span> <span id="time"></span></p>
            </div>
            <div class="col-md-6">
                <p><span class="info-label">Enrollment From:</span> <span id="enrollmentFrom"></span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p><span class="info-label">Facility:</span> <span id="facilitiesName"></span></p>
            </div>
            <div class="col-md-6">
                <p><span class="info-label">Rooms:</span> <span id="rooms"></span></p>
            </div>
        </div>
        <div class="row" id="enrollButtonRow">
            <div class="col-md-12 text-center">
                <button id="enrollButton" class="btn btn-primary">Enroll into Course</button>
            </div>
        </div>
        <div class="row" id="unenrollButtonRow">
            <div class="col-md-12 text-center">
                <button id="unenrollButton" class="btn btn-danger">Unenroll from Course</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        let currentCourseId = null;
        let currentEnrollmentStatus = null;

        document.getElementById('courseInput').addEventListener('input', async () => {
            const inputValue = document.getElementById('courseInput').value;
            const courseData = await validateCourseInput(inputValue);
            
            
            if (courseData) {
                await updateEnrollStatus();

                document.getElementById('course').style.display = 'block';
                
                document.getElementById('courseTitle').innerText = courseData.data.sportName + " | " + courseData.data.title + " ";
                document.getElementById('time').innerText = fromToDateFormat(courseData.data.starts, courseData.data.ends);
                document.getElementById('enrollmentFrom').innerText = new Date(courseData.data.enrollmentFrom).toLocaleString(dateFormatLocation, dateFormatOptions);
                document.getElementById('facilitiesName').innerText = courseData.data.facilities.map(facility => facility.name).join(', ');
                document.getElementById('rooms').innerText = courseData.data.rooms.join(', ');
            } else {
                document.getElementById('course').style.display = 'none';
            }
        });

        document.getElementById('enrollButton').addEventListener('click', async () => {
            if (currentCourseId) {
                const enrolled = await enrollIntoCourse(currentCourseId);
                if (enrolled) {
                    await updateEnrollStatus();
                    activateToast('bg-success', enrolled);
                } else {
                    activateToast('bg-danger', 'Failed to enroll. Please try again later.');
                }
            }
        });

        document.getElementById('unenrollButton').addEventListener('click', async () => {
            if (currentCourseId) {
                const unenrolled = await unenrollFromCourse(currentCourseId);
                if (unenrolled) {
                    await updateEnrollStatus();
                    activateToast('bg-success', unenrolled);
                } else {
                    activateToast('bg-danger', 'Failed to unenroll. Please try again later.');
                }
            }
        });

        const activateToast = (style, message) => {
            const liveToast = document.getElementById('toast');
            const toastBody = document.getElementById('toastBody');
            const toastBootstrap = bootstrap.Toast.getOrCreateInstance(liveToast);
            liveToast.classList.remove('bg-info');
            liveToast.classList.remove('bg-danger');
            liveToast.classList.remove('bg-success');
            liveToast.classList.add(style);
            toastBody.innerText = message;
            toastBootstrap.show();
        };

        const updateEnrollStatus = async () => {
            const enrollmentStatus = await getEnrollmentStatus(currentCourseId);
                currentEnrollmentStatus = enrollmentStatus;
                if (currentEnrollmentStatus == "Canceled") {
                    document.getElementById('enrollButtonRow').style.display = 'none';
                    document.getElementById('unenrollButtonRow').style.display = 'none';
                    adjustStatusBadge('text-bg-danger', 'Canceled');
                } else if (currentEnrollmentStatus == "Enrolled") {
                    document.getElementById('enrollButtonRow').style.display = 'none';
                    document.getElementById('unenrollButtonRow').style.display = 'block';
                    adjustStatusBadge('text-bg-success', 'Enrolled');
                } else if (currentEnrollmentStatus == "Scheduled") {
                    document.getElementById('enrollButtonRow').style.display = 'none';
                    document.getElementById('unenrollButtonRow').style.display = 'block';
                    adjustStatusBadge('text-bg-info', 'Scheduled');
                } else if (currentEnrollmentStatus == "Expired") {
                    document.getElementById('enrollButtonRow').style.display = 'none';
                    document.getElementById('unenrollButtonRow').style.display = 'none';
                    adjustStatusBadge('text-bg-warning', 'Expired');
                } else if (currentEnrollmentStatus == "Full") {
                    document.getElementById('unenrollButtonRow').style.display = 'none';
                    document.getElementById('enrollButtonRow').style.display = 'block';
                    adjustStatusBadge('text-bg-danger', 'Full');
                } else if (currentEnrollmentStatus == "Still Trying") {
                    document.getElementById('unenrollButtonRow').style.display = 'block';
                    document.getElementById('enrollButtonRow').style.display = 'none';
                    adjustStatusBadge('text-bg-warning', 'Still Trying');
                }
                else {
                    document.getElementById('unenrollButtonRow').style.display = 'none';
                    document.getElementById('enrollButtonRow').style.display = 'block';
                    document.getElementById('statusBadge').style.display = 'none';
                }
        };

        const adjustStatusBadge = (style, text) => {
            let statusBadge = document.getElementById('statusBadge');
            statusBadge.style.display = 'inline';
            statusBadge.classList.remove('text-bg-success');
            statusBadge.classList.remove('text-bg-danger');
            statusBadge.classList.remove('text-bg-info');
            statusBadge.classList.remove('text-bg-warning');
            statusBadge.classList.add(style);
            statusBadge.innerText = text;
        }

        const unenrollFromCourse = async (courseId) => {
            const url = `/unenroll/${courseId}`;
            
            try {
                const response = await fetch(url);

                if (response.status != 200) {
                    return false;
                }

                return response.text();
            } catch (error) {
                console.error('Error unenrolling from course:', error);
                return false;
            }
        };

        const getEnrollmentStatus = async (courseId) => {
            const url = `/status/${courseId}`;
            
            try {
                const response = await fetch(url);
                
                if (response.status === 404) {
                    return false;
                }
                
                if (!response.ok) {
                    throw new Error(`Error: ${response.status}`);
                }

                const data = await response.text();
                return data;

            } catch (error) {
                console.error('Error fetching enrollment status:', error);
                return false;
            }
        }

        const enrollIntoCourse = async (courseId) => {
            const url = `/enroll/${courseId}`;
            
            try {
                const response = await fetch(url);

                if (response.status != 200) {
                    return false;
                }

                return response.text();
            } catch (error) {
                console.error('Error enrolling into course:', error);
                return false;
            }
        };

        validateCourseInput = async (inputValue) => {
            const courseInput = document.getElementById('courseInput');
            if (inputValue == "") {
                courseInput.classList.remove('is-valid');
                courseInput.classList.remove('is-invalid');
                return false;
            }
            const re = /.*(\d{6})$/;
            const match = inputValue.match(re);
            if (match) {
                lesson = await getLesson(match[1]);
                if (lesson) {
                    courseInput.classList.remove('is-invalid');
                    courseInput.classList.add('is-valid');
                    currentCourseId = match[1];
                    return lesson;
                }
            }
            courseInput.classList.remove('is-valid');
            courseInput.classList.add('is-invalid');
            return false;
        }

        getLesson = async (courseId) => {
            const url = `/get_lesson/${courseId}`;
            
            try {
                const response = await fetch(url);
                
                if (response.status === 404) {
                    return false;
                }
                
                if (!response.ok) {
                    throw new Error(`Error: ${response.status}`);
                }

                const data = await response.json();
                return data;

            } catch (error) {
                console.error('Error fetching lesson:', error);
                return false;
            }
        }
    </script>
{% endblock %}
